<div class="row m-2">

    <form action="">
        <div class="input-group my-2">
            <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon5"
                class="form-control">
            <div class="input-group-append">
                <button id="button-addon5" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <hr>

    <section class="panel">
        <header class="panel-heading">
            <b>Category</b>
        </header>
        <div class="panel-body">
            <ul class="prod-cat" *ngFor="let category of categoties">
                <li>
                    <button class="active btn"><a (click)="sendCategoryId(category.id)"
                            routerLink="/products/category/{{category.id}}">
                            <i class="fa fa-angle-right"></i>
                            {{category.name}}</a></button>
                </li>
                <ul *ngFor="let subCategory of category.subCategory">
                    <li>
                        <a class="active btn" (click)="sendSubCategoryId(category.id,subCategory.id)"
                            routerLink="/products/category/{{category.id}}/subcategories/{{subCategory.id}}"
                            class="active"><i class="fa fa-angle-right"></i>
                            {{subCategory.name}}
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </section>
    <hr>

    <section class="panel">
        <header class="panel-heading">
            Filter
        </header>
        <div class="panel-body mt-2">
            <form role="form product-form">
                <div class="form-group">
                    <label>Brand</label>
                    <select class="form-control hasCustomSelect"
                        style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                        <option>Wallmart</option>
                        <option>Catseye</option>
                        <option>Moonsoon</option>
                        <option>Textmart</option>
                    </select>
                    <span class="customSelect form-control" style="display: inline-block;"><span
                            class="customSelectInner"
                            style="width: 209px; display: inline-block;">Wallmart</span></span>
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <select class="form-control hasCustomSelect"
                        style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                        <option>White</option>
                        <option>Black</option>
                        <option>Red</option>
                        <option>Green</option>
                    </select>
                    <span class="customSelect form-control" style="display: inline-block;"><span
                            class="customSelectInner" style="width: 209px; display: inline-block;">White</span></span>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control hasCustomSelect"
                        style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                        <option>Extra Large</option>
                    </select>
                    <span class="customSelect form-control" style="display: inline-block;"><span
                            class="customSelectInner" style="width: 209px; display: inline-block;">Small</span></span>
                </div>
                <button class="btn btn-primary mt-2" type="submit">Filter</button>
            </form>
        </div>
    </section>
</div>